/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: NewFirm - Business Bootstrap 3 Theme
 * Version: 1.0
 * URL: http://alvarez.is
 */

/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);

/* OVERALL ASPECT */

body {
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

    margin-top: 70px;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

.goleft {
	text-align: left;
}

/* Links */
a {
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar {
	font-size: 14px;
	background: #ffffff;
}

.navbar-fixed-top {
border-width: 0 0 0px;
border-bottom-width: 0px;
}
/* ================== BASIC CONFIGURATION ================== */

.spacing i {
	padding-left: 8px;
	padding-right: 8px
}
/* margin top & Bottom */
.mt {
	margin-top: 50px;
	margin-bottom: 50px;
}

/* Special Margin for Wrap sections */
.mts {
	margin-top: -20px;
}


/* service icons */
.si {
	visibility: hidden;
}

.si:hover {
	background-color: #ffffff;
}

.si i {
	font-size: 40px;
	padding: 20px;
}

/* Padding top & bottom */
.pt {
	padding-top: 15px;
	padding-bottom: 15px;
}

/* Description Styling / Used in portfolio & Blog images footnotes */
.desc p {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 16px;
	font-weight: 700;
	margin-top: 15px;
}

.desc p > i {
	font-size: 16px;
	color: #979797;
}

.desc p > i:hover {
	font-size: 16px;
	color: #e74c3c;
	cursor: pointer;
}

.desc p.lead {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 14px;
    margin-top: -15px;
}

.desc p.time {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-top: 0px;
	color: #979797;
	text-align: right;
}

.desc p.time > i {
	font-size: 12px;
}


/* Dashed Separator */

hr-d {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px dashed #ccc;
    margin: 1em 0;
    padding: 0;
}


p.capitalize {
	display:block;
	text-align: left;
}

p.capitalize:first-letter {
	text-transform:capitalize;
	font-size: 30px;
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 400;
	color:white;
	padding-left:10px;
	padding-right:10px;
	margin-right:5px;
}


/* Button Call To Action */
.btn-cta {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.btn-cta:hover,
.btn-cta:focus,
.btn-cta:active,
.btn-cta.active,
.open .dropdown-toggle.btn-cta {
  color: #2f2f2f;
  background-color: #ffffff;
  border-color: #2f2f2f;
}

/* Button Theme */
.btn-theme {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
  color: #2f2f2f;
  background-color: #ffffff;
  border-color: #2f2f2f;
}

/* Button Yellow */
.btn-yellow {
  color: #2f2f2f;
  background-color: #ffd56c;
  border-color: #ffffff;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow:active,
.btn-yellow.active,
.open .dropdown-toggle.btn-yellow {
  color: #2f2f2f;
  background-color: #fdc741;
  border-color: #ffffff;
}


/* Tab Modification */
.tab-mod {
	margin-bottom: 0px;
}

.tabbable p {
	color: #2f2f2f;
	font-weight: 400;
}

/***** Testimonials Styling *****/
.testi-container {
	width:100%;
	margin-bottom:14px;
	padding: 5px 6px 3px 0px;
	background-color:#fafafa;
	border: solid 1px #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position:relative;
	float:left;
	z-index:998;
}

.testi-container:before {
	width: 25px;
	height: 17px;
	background:#fafafa;
	content: '';
	position: absolute;
	z-index:999;
	left:42px;
	bottom: 0px;
	margin-left: -7px;
}
@media \0screen {.testi-container:before {background:none;}}

.testi-container:after {
	width: 17px;
	height: 17px;
	background:#fafafa;
	border:1px solid #ddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	content: '';
	position: absolute;
	z-index:888;
	left:45px;
	bottom: -5px;
	margin-left: -7px;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
}
@media \0screen {.testi-container:after {background:none; border:none;}}

.testi-text {
	width:100%;
	float:left;
	margin:0px;
	padding:10px 14px 0px 14px;
	font-weight: 200;
}

/* ================== MAIN WRAP SECTIONS ================== */

#headerwrap {
	background: url(../img/bg01.jpg) no-repeat center top;
	margin-top: -20px;
	padding-top:20px;
	background-attachment: relative;
	background-position: center center;
	min-height: 300px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	margin-top: 60px;
	color: white;
	font-size: 50px;
	font-weight: 700;
	letter-spacing: 1px;
	visibility: hidden;
}

#headerwrap h2 {
	color: white;
	visibility: hidden;

}

#headerwrap .img-responsive {
	margin: 0 auto;
}

/* Headerwrap 2 Wrap */
#headerwrap-2 {
	background: url(../img/hwrap2.jpg) no-repeat center top;
	margin-top: -20px;
	padding-top:100px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap-2 h1 {
	color: white;
	font-size: 60px;
	font-weight: 100;
}

/* Service Wrap */
#servicewrap {
	background: url(../img/swrap.jpg) no-repeat center top;
	margin-top: -20px;
	padding-top:110px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 400px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#servicewrap h1 {
	color: white;
	font-size: 60px;
	font-weight: 400;
}


/* About Wrap */
#aboutwrap {
	background: url(../img/awrap.jpg) no-repeat center top;
	margin-top: -20px;
	padding-top:110px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 400px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#aboutwrap h1 {
	color: white;
	font-size: 60px;
	font-weight: 400;
}


/* Offices Wrap */
#officewrap {
	background: url(../img/owrap.jpg) no-repeat center top;
	margin-top: -20px;
	padding-top:110px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 400px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#officewrap h1 {
	color: white;
	font-size: 60px;
	font-weight: 400;
}

/* Pricing Wrap */
#pricewrap {
	background: url(../img/pwrap.jpg) no-repeat center top;
	margin-top: -20px;
	padding-top:110px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 400px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#pricewrap h1 {
	color: white;
	font-size: 60px;
	font-weight: 400;
}

/* Full width project Wrap */
#fullproject {
	background: url(../img/fullproject.jpg) no-repeat center top;
	margin-top: -20px;
	padding-top:110px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 600px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#fullproject h1 {
	color: white;
	font-size: 60px;
	font-weight: 400;
}


/* Footer Wrap */

#f {
	background-color: #1b1b1b;
	padding-top: 40px;
	padding-bottom: 40px;
}

#f p {
	color: white;
}

#f h4 {
	color: white;
}

/* Color Wraps */
#white {
	margin-top: 0px;
	background-color: #ffffff;
	min-height: 300px;
	width: 100%;
}

#grey {
	margin-top: 0px;
	background-color: #f7f7f7;
	min-height: 300px;
	width: 100%;
}

#black {
	margin-top: 0px;
	background-color: #2f2f2f;
	min-height: 300px;
	width: 100%;
}

#black h3 {
	color: white;
}

#black h4 {
	color: white;
	text-transform: uppercase
}

#black p {
	color: white;
	font-size: 16px;
	font-weight: 400;
}

#black i {
	font-size: 35px;
}

#black h1 {
	color: white;
	font-size: 70px;
}

/* Map Wrap*/

#map {
	width: 100%;
	height: 400px;
}

#map-contact {
	width: 100%;
	height: 650px;
}

/* ================== CALL TO ACTION WRAP SECTIONS & HELPERS ================== */
#cta01 {
	background: url(../img/cta/cta01.jpg) no-repeat center top;
	margin-top: 0px;
	padding-top:100px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 350px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#cta01 h1 {
	color: white;
	font-weight: 700;
	margin-bottom: 25px;
	font-size: 60px;
}

#cta01 h2 {
	color: white;
	font-weight: 700;
	margin-bottom: 25px;
}

#cta01 i {
	color: white;
	font-size: 45px;
}


#cta02 {
	margin-top: 0px;
	padding-top:100px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 350px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#cta02 h2 {
	color: white;
	font-weight: 700;
	margin-bottom: 25px;
}


#cta03 {
	background: url(../img/cta/cta01.jpg) no-repeat center top;
	margin-top: 0px;
	padding-top:50px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 450px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#cta03 h2 {
	color: white;
	font-weight: 700;
	margin-bottom: 50px;
}

#cta03 i {
	color: white;
	font-size: 45px;
}

#cta03 p {
	color: white;
	font-size: 16px;
}

/* Call To Action - Video */
#cta-video {
	background: url(../img/cta/cta-video-bg.jpg) no-repeat center top;
	margin-top: 0px;
	padding-top:130px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 400px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#cta-video h3 {
	color: white;
	margin-bottom: 30px;
}


#cta-bar {
	background: #2f2f2f;
	color: white;
	padding-top: 40px;
	padding-bottom: 40px;

    -webkit-transition: color 0.3s ease-in, background 0.3s ease-in;
    -moz-transition: color 0.3s ease-in, background 0.3s ease-in;
    -ms-transition: color 0.3s ease-in, background 0.3s ease-in;
    -o-transition: color 0.3s ease-in, background 0.3s ease-in;
    transition: color 0.3s ease-in, background 0.3s ease-in;
}

#cta-bar:before,
#cta-bar:after {
    -webkit-transition: color 0.2s ease-in, background 0.2s ease-in;
    -moz-transition: color 0.2s ease-in, background 0.2s ease-in;
    -ms-transition: color 0.2s ease-in, background 0.2s ease-in;
    -o-transition: color 0.2s ease-in, background 0.2s ease-in;
    transition: color 0.2s ease-in, background 0.2s ease-in;

    cursor: pointer;
}

#cta-bar h4 {
	color: white;
	font-weight: 400;
}

/* ================== VIDEO TOP WRAP CONFIGURATION ================== */
#wv {
	width: 100%;
	height: 600px;
	margin-top: -20px;
}

/* ================== VIDEO SECTION CONFIGURATION ================== */
.flex-video {
position: relative;
padding-top: 25px;
padding-bottom: 67.5%;
height: 0;
margin-bottom: 16px;
overflow: hidden;
}

.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.modal-dialog {
  width: 95%;
  height: 95%;
  padding: 0;
}

.modal-content {
  height: 95%;
  border-radius: 0;
}

.modal-header {
	background-color: transparent;
	margin-bottom: 0px;
	padding-bottom: 20px;
	border: none;
}

.close {
	font-size: 40px;
}


/* ================== PORTFOLIO IMAGES HOVER EFFECT ================== */
/* Effects also are controled by hover.zoom.js */
.zoom {
    display:block;
    position:relative;
    overflow:hidden;
    background:transparent url(../img/loader.gif) no-repeat center;
}

    .zoom img { display:none }

        .zoomOverlay {
            position:absolute;
            top:0; left:0;
            bottom:0; right:0;
            display:none;
            background-image:url(../img/zoom.png);
            background-repeat:no-repeat;
            background-position:center;
        }

.zoom2 {
	opacity: 1;
}

.zoom2:hover {
	opacity: 0.5;
}

/* ================== TEAM MEMBERS INFORMATION OVER iMAGE ================== */
.members {
  width: 302px;
  position: relative;
  float: left;
  margin: 0 20px 0 0;
  > img {
    display: block;
    position: relative;
  }
}

.team-info {
  position: absolute;
  bottom: 20px;
  right: 0px;
  width: 170px;
  padding: 10px 10px 30px 10px;
}
.subhead {
  color: #f2f2f2;
  text-transform: uppercase;
  font-weight: 400;
}
.team-name {
  color: white;
  font-weight: 400;
  margin: 0;
  letter-spacing: -1px;
}

.team-description {
	color: white;
	padding-top: 20px;
}

.team-description i {
	margin: 8px;
}

/* Team Member Stats Icons Conf */
.team-stat i {
	font-size: 28px;
}

/* ================== TWITTER FEED CONFIGURATION ================== */
#f ul {
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

#f ul li {
  list-style:none;
  overflow:hidden;
}

#f ul li:before {
	content: "\f099";
	font-family: 'FontAwesome';
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	font-size: 16px;
	height: auto;
	margin-top: 2px;
	margin-right: 8px;
	color: white;
	float: left;
}

#f .tweet {
	float: right;
	width: 85%;
}


/* ================== PRICING TABLE CONFIGURATION ================== */
.pricing-table-plan {
	height: 100px;
	width: 100%;
	background: #2d2d2d;
    font-family: 'Roboto Slab', serif;
	font-weight: 400 !important;
	font-size: 0.9em;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	-webkit-font-smoothing: antialiased;
}

.pricing-table-plan i {
	font-size: 20px;
	margin-top: 10px;
}

.pricing-table-prices {
	height: 180px;
	color: #9e9e9e;
    font-family: 'Roboto Slab', serif;
	font-size: 7em;
	text-align: center;
}

.pricing-table-currency {
font-size: 0.2em;
}

.pricing-table-interval {
	font-size: 0.2em;
	font-weight: 400;
}

.pricing-table-features {
	height: 120px;
	padding: 20px;
	background: #ffffff;
	width: 100%;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	margin-top: 2px;
	margin-bottom: 2px;
}

.pricing-table-features i {
	color: #1abc9c;
}

sup {
	vertical-align: super;
	font-weight: 400;
}



#masonry {
	width: 100%;
}
.mitem { width: 25%; }


/* ==========================================================================
   Blog Configuration
   ========================================================================== */
/* Blog Page Zones & Conf*/

.main-blog {
	padding-top: 90px;
}

.blog-date {
	display: block;
	padding-top: 40px;
}

.blog-date p {
	text-align: right;
	margin-right: 10px;
	font-size: 13px;
	letter-spacing: 1px;
}

.blog-date h6 {
	font-weight: 800;
	text-align: right;
	margin-right: 10px;
	letter-spacing: 1px;
}

.blog-title {
	padding-top: 40px;
	margin-bottom: 20px;
}

.blog-title h2 {
	margin-top: 0px;
	font-size: 40px;
	line-height: 50px;
	letter-spacing: 3px;
	text-align: left;
	font-weight: 400;
	margin-left: 5px;
}

.blog-post {
	text-align: left;
	margin-right: 0px;
	font-size: 16px;
}

.blog-post h2 {
	margin-top: 0px;
	font-size: 40px;
	line-height: 50px;
	letter-spacing: 3px;
	text-align: left;
	font-weight: 400;
	width: 100%;
	padding-top: 40px;
	margin-bottom: 20px;
}


.blog-post em {
	text-align: left;
	font-size: 22px;
	color: #767676;
}

.blog-post i {
	letter-spacing: 10px;
}

.blog-post p {
	margin-bottom: 20px;
}

.blog-post blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  color: #a7a7a7;
  font-size: 19px;
}

.blog-post tag {
	color: #a7a7a7;
	font-size: 14px;
	letter-spacing: 2px;
}

.blog-post h4 {
	margin-top: 0px;
	font-size: 19px;
	line-height: 30px;
	letter-spacing: 1px;
	text-align: left;
	font-weight: 700;
}

/* ========== SIDEBAR CONF ========== */

.sidebar-zone {
	padding-top: 40px;
	padding-bottom: 120px;
	margin-bottom: 0px;
}

.sidebar-zone i {
	vertical-align: middle;
}

.sidebar-zone h4 {
	font-weight: 500;
}

.sidebar-zone p {
	font-size: 14px;
}

.sidebar-zone h6 {
	font-weight: 700;
}

.popular-posts {
	margin: 0px;
	padding-left: 0px;
	}

.popular-posts li {
	list-style: none;
	margin-bottom: 20px;
	min-height: 70px;
}
.popular-posts li a,
.popular-posts li a:hover {
	color:#2f2f2f;
	text-decoration: none;
	}

.popular-posts li img {
	float: left;
	margin-right: 20px;
	}

.popular-posts li em {
	font-family: 'Roboto Slab', serif;
	font-size: 12px;
	}

.popular-posts p {
	line-height: normal;
	margin-bottom: auto;
}

p > tag {
	color:#b1b1b1;
	font-size: 12px;
	font-weight: 500;
}

#portfolio {
	width: 100%;
}
.grid {
    max-width: 69em;
    list-style: none;
    margin: 30px auto;
    padding: 0;
}
.grid li {
    display: block;
    float: left;
    padding: 7px;
    width: 33%;
    opacity: 0;
}
.grid li.shown, .no-js .grid li, .no-cssanimations .grid li {
    opacity: 1;
}
.grid li a, .grid li img {
    outline: 0;
    border: 0;
    display: block;
    max-width: 100%}
.grid img {
    opacity: .7;
}

.grid p.box {
	height: 80px;
	background: white;
	padding: 10px;
}

.grid img:hover {
    opacity: 1;
}
.grid.effect-2 li.animate {
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    transform: translateY(200px);
    -webkit-animation: moveUp .65s ease forwards;
    -moz-animation: moveUp .65s ease forwards;
    animation: moveUp .65s ease forwards;
}
@-webkit-keyframes moveUp {
    to {
    -webkit-transform: translateY(0);
    opacity: 1;
}
}@-moz-keyframes moveUp {
    to {
    -moz-transform: translateY(0);
    opacity: 1;
}
}@keyframes moveUp {
    to {
    transform: translateY(0);
    opacity: 1;
}
}



@media (max-width: 600px) {

#headerwrap-2 h1 {
	font-size: 45px;
}

#cta03 {
	background: #2d2d2d;
	}

#wv {
	height: 350px;
}

}

@media (max-width: 900px) {


#cta03 {
	background: #2d2d2d;
	}
}

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
.flex-video { padding-top: 0; }
}
