.mceContentBody h1, .mceContentBody h2, .mceContentBody h3, .mceContentBody h4, .mceContentBody h5, .mceContentBody h6 {
    margin: 0 0 4% 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal;
    font-weight: 300;
    line-height: 1.2;
    color: #666E75;
}

.mceContentBody h1 { 
	font-size: 40px;
}

.mceContentBody h2 { 
	font-size: 36px;
 }

.mceContentBody h3 { 
	font-size: 32px;
}

.mceContentBody h4 { 
	font-size: 28px;
}

.mceContentBody h5 { 
	font-size: 24px;
}

.mceContentBody h6 { 
	font-size: 20px;
}

.mceContentBody {
    color: #6B747A;
    font: 18px/1.6 "Helvetica Neue", Helvetica, sans-serif;
}

.mceContentBody p {
	margin-bottom: 1.6em;
}

.mceContentBody blockquote {
	overflow: hidden;
    padding: 15px 0;
    margin: 0 25px 25px 0px;
    position: relative;
    border-top: dotted 2px #EEE;
    border-bottom: dotted 2px #EEE;
}

.mceContentBody blockquote p {
	font-size: 20px;
	margin-bottom: 0px;
	color: #B1B8BE;
}

.mceContentBody ul {
	margin: 0 0 1.6em 18px;
}

.mceContentBody li {
	list-style-type: circle;
    margin: 0 0 8px 0;
}

.mceContentBody ol {
	 margin: 0 0 1.6em 24px;
}
.mceContentBody ol li {
	list-style-type: decimal;
}

.intro {
	font-size: 20px;
	color: #B1B8BE;
	margin-bottom: 3%;
	padding-bottom: 3%;
	border-bottom: dotted 2px #EEE;
}

.highlight {
	background: #fcf8a5;
	color: #4D5458;
	width: auto;
	display: inline;
	padding: 3px 5px;
}

hr {
	height: 1px;
	margin: 30px 0 30px 0;
	border: 0;
	border-bottom: solid 1px #eee;
}
