{% include 'header.html' %}

	<div id="black">
		<div class="container mts">
			<div class="row mt centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h1>404</h1>
					<hr>
					<h4>You are in the wrong place!</h4>
				</div>

			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /black -->

    <div class="container">
		<div class="row mt centered ">
			<div class="col-lg-6 col-lg-offset-3">
				<h1><i class="fa fa-compass"></i></h1>
				<h3>Are you lost? Check out these pages.<br/></h3>
				<p>
	    				<a href="/"><i class="fa fa-dot-circle-o"></i> Home Page</a><br/>
	    				<a href="contact"><i class="fa fa-dot-circle-o"></i> Contact Us</a><br/>
	    				<a href="blog"><i class="fa fa-dot-circle-o"></i> Blog Page</a><br/>
	    			</p>
				<hr>
			</div><!-- /col-lg-4 -->
		</div><!-- /row -->
    </div><!-- /container -->


{% include 'footer.html' %}