
{% include 'header.html' %}

    <div id="servicewrap" style="min-height:300px">
    	<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<h1 class="slideUp">Big Data Consulting.</h1>
				</div>
			</div><!-- /row -->
    	</div><!-- /container -->
    </div> <!-- /servicewrap -->

    <div class="container">
    <h3>&nbsp;<b>Big data </b>technologies are crucial as industry demands deriving insights from large data sets. Gajadata has deep expertise in using big data technologies to solve complex data processing requirements.</h3>
    	<div class="row mt" id="row-services">

    				<div class="col-lg-6">
                        <div class="service-main aligncenter icon">
                          <h3><i class="fa fa-gear"></i> Supported Big Data Technologies</h3>
                        </div>
                        <ul class="service-list">
                          <li><i class="fa fa-check"></i>  Environment | Hadoop, HDFS, MapReduce, Zookeeper</li>
                          <li><i class="fa fa-check"></i>  Log processing | Flume, Scribe, Honu, Chukwa, Splunk, Loggly</li>
                          <li><i class="fa fa-check"></i>  Data store integration | HBase, MongoDB, Cassandra, Vertica, SAP HANA</li>
                          <li><i class="fa fa-check"></i>  Data analysis | Hive, PIG, R, Stinger, Impala</li>
                          <li><i class="fa fa-check"></i>  Tools | Sqoop, Oozie, Esper</li>
                          <li><i class="fa fa-check"></i>  Machine learning | Mahout</li>
                          <li><i class="fa fa-check"></i>  Search | Solr, Elasticsearch</li>
                          <li><i class="fa fa-check"></i>  Distribution | Apache, Cloudera, Hortonworks</li>
                        </ul>
    				</div>

					<div class="col-lg-6">
						<div class="service-main aligncenter icon">
                          <h3><i class="fa fa-check-circle"></i> Other consulting Services</h3>
                        </div>
                       <ul class="service-list" style="padding-top: 26px;">
                          <li><a class="btn btn-large btn-success" href="">SQL Consulting</a></li>
                          <li><a class="btn btn-large btn-success" href="">NoSQL Consulting</a></li>
                          <li><a class="btn btn-large btn-success" href="">Data Analytics</a></li>
                          <li><a class="btn btn-large btn-success" href="">Data Architecture</a></li>

                        </ul>

					</div>


    	</div><!-- /row -->
		<hr/>

		<div class="row mt" id="row-services">

			<div class="col-lg-8">

				<h4>Big Data Consulting:</h4>
                  <ul class="service-list">
                    <li><i class="fa fa-caret-right"></i> Evaluate existing system and gather data requirements &amp; recommend the best big data strategy</li>
                    <li><i class="fa fa-caret-right"></i> Design the architecture and framework that would best fit the environment</li>
                    <li><i class="fa fa-caret-right"></i> Developing the right integration plan that minimizes the risk, aligns with cost and business strategy</li>
                    <li><i class="fa fa-caret-right"></i> Build and support complete end-to-end bigdata platform</li>
                  </ul>

                  <div style="margin-top:20px;"></div>
                    <h4>Big Data Engineers, Data Scientists</h4>
                    <ul class="service-list">
                      <li><i class="fa fa-caret-right"></i> Provide bigdata engineers and data scientists on project basis, onsite or remote</li>
                      <li><i class="fa fa-caret-right"></i> Engineers available on full-time or part-time</li>
                    </ul>

                   <div style="margin-top:20px;"></div>
                  <h4>Big Data Implementation</h4>
                  <ul class="service-list">
                    <li><i class="fa fa-caret-right"></i> Design, development, integration, migration &amp; support</li>
                    <li><i class="fa fa-caret-right"></i> Build bigdata infrastructure – high performance, highly scalable and highly redundant</li>
                    <li><i class="fa fa-caret-right"></i> HA and Replication</li>
                    <li><i class="fa fa-caret-right"></i> Define ETL process for heterogeneous sources (structured, semi-structured and unstructured data)</li>
                    <li><i class="fa fa-caret-right"></i> Use state of the art log management</li>
                    <li><i class="fa fa-caret-right"></i> Reporting integration (home grown or third party)</li>
                    <li><i class="fa fa-caret-right"></i> Implement open source and commercial data analytics and warehouse services</li>
                    <li><i class="fa fa-caret-right"></i> Implement data computational platform for analytics</li>
                    <li><i class="fa fa-caret-right"></i> Map-reduce jobs to work on large data sets</li>
                    <li><i class="fa fa-caret-right"></i> Recommender system</li>
                    <li><i class="fa fa-caret-right"></i> Predictive analysis</li>
                    <li><i class="fa fa-caret-right"></i> Data archiving and purging</li>
                  </ul>
                  <div style="margin-top:20px;"></div>
                  <h4>Support</h4>
                  <ul class="service-list">
                    <li><i class="fa fa-caret-right"></i> Maintenance, administration, cluster management, 24/7 support</li>
                    <li><i class="fa fa-caret-right"></i> Monitoring, in-depth exposure to systems and pipeline performance</li>
                    <li><i class="fa fa-caret-right"></i> Performance tuning and optimization</li>
                    <li><i class="fa fa-caret-right"></i> Scalability, capacity planning</li>
                    <li><i class="fa fa-caret-right"></i> Engineering and operational training</li>
                  </ul>
			</div>

			<div class="col-lg-4">

				<h4>Big Data Architecture</h4>
                  <p>Here is our typical bigdata architecture; and we involve in building, implementing,
                   administering and supporting all components as needed.</p>
                  <div style="margin-top:20px;"></div>
                  <img src="static/img/bigdata-scalein-architecture.png" alt="Big Data Architecture" style="max-width:100%">

			</div>
		</div>
    </div><!-- /container -->

	<div id="cta-bar">
		<div class="container">
			<div class="row centered">
				<a href="contact"><h4>To learn more about our Big Data, send us a message.</h4></a>
				<a href="contact" class="btn btn-large btn-info">Contact US</a>

			</div>
		</div><!-- /container -->
	</div><!-- /cta-bar -->

	{% include 'footer.html' %}