
{% include 'header.html' %}

    	<div class="row mt">
    		<div class="col-lg-4 col-lg-offset-4 centered">
    			<h2>Gajadata is hiring!</h2>
    			<hr>
    		</div>
    	</div><!-- --/row ---->

	    <div class="container" id="careers">

    	<h3>Gajadata is a leading SQL, NoSQL and Bigdata consulting company helping more than 100 clients. If you are interested to work on cutting edge data technologies and solve complex data problems (Implementation, Performance and Scalability) and here is the right place.</h3>

              <blockquote><h4><i class="fa fa-quote-left"></i>We provide training for candidates who does not have required skillset, but have strong desire to work on data and database technologies as outlined in our <a href="../../services/index.html">services</a> section. <i class="fa fa-quote-right"></i></h4></blockquote>

              <h3>We are hiring in both <i>Bangalore, Karnataka, India</i> and <i>Sunnyvale, California, USA</i>. We are also open for remote for exceptional candidates.</h3>
    	<div class="row mt" id="row-services">



    	</div><!-- /row -->
    	 <hr/>
    	    <h4><center>If interested, please send the latest CV to <a href="mailto:contact@gajadata.com?Subject=Gajadata%20Job%20Opportunity">contact@gajadata.com</a></center></h4><hr>

    </div><!-- /container -->


	{% include 'footer.html' %}