
{% include 'header.html' %}

    	<div class="row mt">
    		<div class="col-lg-4 col-lg-offset-4 centered">
    			<h2>Gajadata is hiring!</h2>
    			<hr>
    		</div>
    	</div><!-- --/row ---->

	    <div class="container" id="careers">

    	<h3>Gajadata is a data consulting company helping more than 10 clients. If you are interested to work on building data products for startup companies solve complex data problems here is the right place.</h3>


    	<div class="row mt" id="row-services">



    	</div><!-- /row -->
    	 <hr/>
    	    <h4><center>If interested, please send the latest CV to <a href="contact">Contact US</a></center></h4><hr>

    </div><!-- /container -->


	{% include 'footer.html' %}