
{% include 'header.html' %}

    	<div class="row mt">
    		<div class="col-lg-4 col-lg-offset-4 centered">
    			<h3><strong>Companies we have worked with</strong></h3>
    			<hr>
    		</div>
    	</div><!-- --/row ---->

	    <div class="container" id="careers">
            <div class="col-lg-12" id="clients-img">
    					<div class="imgspan">
    						<a href="https://www.facebook.com/Viralogy"><img src="/static/img/clients/client1.jpg" class="client-logo" ></a>
    					</div>
    					<div class="imgspan">
    					<a href="https://www.facebook.com/Rewardme"><img src="/static/img/clients/client2.jpg" class="client-logo"></a>
    					</div>
    					<div class="imgspan">
    					<a href="http://www.nexteracorp.com/"><img src="/static/img/clients/client3.jpg" class="client-logo"></a>
    					</div>
    					<div class="imgspan">
							<a href="http://www.nxpro.com/"><img src="/static/img/clients/client4.jpg" class="client-logo"></a>
    					</div>
    					<div class="imgspan">
    						<a href="http://www.mylife.com/"><img src="/static/img/clients/client5.jpg" class="client-logo"></a>
    					</div>

              <div class="imgspan">
                <a href="http://www.shopzilla.com/"><img src="/static/img/clients/client6.jpg" class="client-logo"></a>
              </div>
              <div class="imgspan">
               <a href="http://www.bizrate.com/"><img src="/static/img/clients/client7.jpg" class="client-logo"></a>
              </div>
              <div class="imgspan">
               <a href="http://www.carsdirect.com/"><img src="/static/img/clients/client8.jpg" class="client-logo"></a>
              </div>
              <div class="imgspan">
               <a href="http://www.vmware.com/company/acquisitions/packetmotion.html"><img src="/static/img/clients/client9.jpg" class="client-logo"></a>
              </div>
         </div>




    	</div><!-- /row -->
    </div><!-- /container -->

    <div id="cta-bar">
		<div class="container">
			<div class="row centered">
				<h4><center>Learn why you should chose Gajadata.<br/>To learn more about Gajadata, send us a message.<br/><br/> <a href="contact" class="btn btn-large btn-info">Contact US</a></center></h4>

			</div>
		</div>
	</div>



	{% include 'footer.html' %}