
{% include 'header.html' %}

    	<div class="row mt">
    		<div class="col-lg-4 col-lg-offset-4 centered">
    			<h2>Data Architecture</h2>
    			<hr>
    		</div>
    	</div><!-- --/row ---->

    <div class="container" id="data-architecture">

    	<h4>As data is the <span class="highlight">"<strong>true wealth</strong>"</span> of the company; and systems that <strong>collect, store and process data</strong> must be properly designed and implemented - thus enabling <strong>clean, high performance data flow architecture</strong> and make data infrastructure highly scalable.</h4>
    	<h4>We will help to build the right architecture with the <span class="highlight">following assessments evaluated and implemented</span> by understanding and meeting the current business requirements, future growth and service level agreement (SLA):</h4>

    	<div class="row mt" id="row-services">

    				<div class="col-lg-6 col-md-6">
                        <div class="service-main aligncenter icon">
                          <h3><i class="fa fa-gear"></i> Data Architecture Assessments</h3>
                        </div>
                        <ul class="service-list">
                          <li><i class="fa fa-check"></i>  Current Architecture</li>
                          <li><i class="fa fa-check"></i>  Application, Web Logging System to Capture All Events</li>
                          <li><i class="fa fa-check"></i>  High Performance and Highly Scalable OLTP Database System</li>
                          <li><i class="fa fa-check"></i>  Highly Scalable Data Warehouse, Data Analytics Database System</li>
                          <li><i class="fa fa-check"></i>  Log Processing Tools</li>
                          <li><i class="fa fa-check"></i>  ETL Tools</li>
                          <li><i class="fa fa-check"></i>  Aggregation, Batch Processing</li>
                          <li><i class="fa fa-check"></i>  Services, Tools for Fetching and Loading Un-Structured Data</li>
                          <li><i class="fa fa-check"></i>  Internal and External Reporting System</li>
                          <li><i class="fa fa-check"></i>  Monitoring and Alerting System</li>
                          <li><i class="fa fa-check"></i>  Data, Tools and Reports required for Data Analysis</li>
                          <li><i class="fa fa-check"></i>  Platform to run Machine Learning Algorithms</li>
                          <li><i class="fa fa-check"></i>  Recommender System</li>
                          <li><i class="fa fa-check"></i>  Stats for Quick Business Insights in Realtime, etc.</li>
                        </ul>
    				</div>

					<div class="col-lg-6 col-md-6" >
					<div class="service-main aligncenter icon">
                          <h3>High Level Data Architecture</h3>
                          <img src="static/img/data-arch-hilevel.png" alt="High Level Data Architecture" border="0" style="width:421px; height: 318px;">
                        </div>
					</div>


    	</div><!-- /row -->
    	    <h4><center>For more information on what tools and systems we support, please check Data Services and Big Data Support.</center></h4><hr>

    </div><!-- /container -->

	<div id="cta-bar">
		<div class="container">
			<div class="row centered">
				<a href="contact"><h4>To learn more about our SQL services, send us a message.</h4></a>
				<a href="contact" class="btn btn-large btn-info">Contact US</a>

			</div>
		</div><!-- /container -->
	</div><!-- /cta-bar -->

	{% include 'footer.html' %}