{% include 'header.html' %}

    <div id="headerwrap">
    	<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<h1 class="slideUp">Build Business Driven Data Solutions</h1>
					<h3 class="slideUp">Every Business is different and so is our data solution</h3>
					<img class="img-responsive" src="static/img/browser.png" alt="">
				</div>
			</div>
    	</div>
    </div>

    <div class="container">
    	<div class="row mt">
    		<div class="col-lg-4 centered si">
    			<i class="fa fa-crosshairs"></i>
    			<h4>OLTP </h4>
    			<p>We Handle all OLTP RDBMS, highly redundant and highly scalable SQL, this includes systems like Oracle,Sybase,MySQL, PostgreSQL for complex workloads.</p>
    		</div>
    		<div class="col-lg-4 centered si">
    			<i class="fa fa-bolt"></i>
    			<h4>Not Only SQL</h4>
    			<p>We do have hands on experience in assessing,integration, administration,implementation and support for major leading NoSQL database systems.</p>
    		</div>
    		<div class="col-lg-4 centered si">
    			<i class="fa fa-cloud"></i>
    			<h4>Big Data </h4>
    			<p>Every business needs to derive insights from Social Media,Unstructured data by using big data technologies such as Hadoop/Columnar Dbs. Gajadata has deep expertise in supporting complex big data processing needs.</p>
    		</div>

    		<div class="col-lg-4 centered si">
    			<i class="fa fa-bar-chart-o"></i>
    			<h4>Data Analytics</h4>
    			<p> Full Lifecycle Services offered in Analysing, Architecting, Implementing, administration and support of various forms of data as time series log , statistical, data warehouse, BI, ETL and reporting.</p>
    		</div>
    		<div class="col-lg-4 centered si">
    			<i class="fa fa-signal"></i>
    			<h4>Data Architecture</h4>
    			<p>We can help you in rearchitecting you existing data framework or we can work in a clean slate depending on your need.</p>
    		</div>
    		<div class="col-lg-4 centered si">
    			<i class="fa fa-globe"></i>
    			<h4>Database Services</h4>
    			<p>We specialized in defining your databases starting with   design or ERD ---> ETL ---> Reporting. Details are an important part of our main concept. We make sure our code quality and design decisions will match with your standard.</p>
    		</div>
    	</div>
    </div>





    <div id="cta02">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-8 col-lg-offset-2">
    				<h2>Let us help your business grow!</h2>
    				<a type="button" href="why-gajadata" class="btn btn-cta btn-lg">ABOUT US</a>
    			</div>
    		</div>
    	</div>
    </div>


	<div id="grey">
		<div class="container">
			<div class="row mt centered ">
				<div class="col-lg-4 col-lg-offset-4">
					<h3>Brands & Clients</h3>
					<hr>
				</div>
			</div>

			<div class="row centered">
				<div class="col-lg-3 pt">
					<a href="href="http://www.mylife.com/""><img class="img-responsive" src="/static/img/clients/client5.jpg" style="height:150px;" alt="" ></a>
				</div>
				<div class="col-lg-3 pt">
					<a href="http://www.vmware.com/company/acquisitions/packetmotion.html"><img class="img-responsive" src="/static/img/clients/client9.jpg" style="height:150px;" alt="" ></a>
				</div>
				<div class="col-lg-3 pt">
					<a href="http://www.shopzilla.com/"><img class="img-responsive" src="/static/img/clients/client6.jpg" style="height:150px;" alt="" ></a>
				</div>
				<div class="col-lg-3 pt">
					<a href="http://www.nxpro.com/"><img class="img-responsive" src="static/img/clients/client4.jpg" style="height:150px;" alt=""></a>
				</div>

			</div>
		</div>
	</div>

	<div id="cta-bar">
		<div class="container">
			<div class="row centered">
				<a href="#"><h4>Are You Ready For The Next Step?</h4></a><br/>
				<a href="contact" class="btn btn-info">Contact US</a>
			</div>
		</div>
	</div>
{% include 'footer.html' %}
