{% include 'header.html' %}

    <div id="headerwrap">
    	<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<h1 class="slideUp">Build Data-Driven Business Solutions</h1>
					<img class="img-responsive" src="static/img/browser.png" alt="">
				</div>
			</div>
    	</div>
    </div>

    <div class="container">
    	<div class="row mt">
    		<div class="col-lg-4 centered si">
    			<i class="fa fa-crosshairs"></i>
    			<h4>SQL Services</h4>
    			<p>We specialize in handling high performance, highly redundant and highly scalable SQL, OLTP systems like MySQL, PostgreSQL and Oracle for complex workloads.</p>
    		</div>
    		<div class="col-lg-4 centered si">
    			<i class="fa fa-bolt"></i>
    			<h4>NoSQL Systems</h4>
    			<p>We have extensive hands on experience in evaluation, implementation, integration, administration and support for major leading NoSQL database systems.</p>
    		</div>
    		<div class="col-lg-4 centered si">
    			<i class="fa fa-cloud"></i>
    			<h4>Big Data Support</h4>
    			<p>Every business needs to derive insights from customer data by using big data technologies. Gajadata has deep expertise in supporting complex big data processing needs.</p>
    		</div>

    		<div class="col-lg-4 centered si">
    			<i class="fa fa-bar-chart-o"></i>
    			<h4>Data Analytics</h4>
    			<p>Services offered in strategy, architecture, implementation, administration and support of log processing, data analytics, stats, data warehouse, BI, ETL and reporting.</p>
    		</div>
    		<div class="col-lg-4 centered si">
    			<i class="fa fa-signal"></i>
    			<h4>Data Architecture</h4>
    			<p>Having a clean, high performance, highly redundant and highly scalable data architecture is very important for every business; and we can help to build one.</p>
    		</div>
    		<div class="col-lg-4 centered si">
    			<i class="fa fa-globe"></i>
    			<h4>Database Services</h4>
    			<p>We aim to design both, functional & beautiful themes. Details are an important part of our main concept. We work hard to keep our code and front-end flawless.</p>
    		</div>
    	</div>
    </div>


    <div id="cta01">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-8 col-lg-offset-2">
    				<h2>Let us help your business grow!</h2>
    				<button type="button" class="btn btn-cta btn-lg">Contact Us</button>
    			</div>
    		</div>
    	</div>
    </div>



	<div id="white">
		<div class="container">
			<div class="row mt centered ">
				<div class="col-lg-4 col-lg-offset-4">
					<h3>Featured Stuff</h3>
					<hr>
				</div>
			</div>

			<div class="row">

				<div class="col-lg-3 col-lg-offset-1">
					<div class="tabbable">
			            <ul class="nav nav-stacked" id="myTab">
			              <li class="active"><a href="#tab1">
							  	<h4><i class="fa fa-angle-right"></i> Handsome Layout</h4>
							  	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
						  </a></li>

			              <li class=""><a href="#tab2">
							  	<h4><i class="fa fa-angle-right"></i> Retina Ready</h4>
							  	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
						  </a></li>

			              <li class=""><a href="#tab3">
							  	<h4><i class="fa fa-angle-right"></i> Responsive Design</h4>
							  	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
						  </a></li>

			            </ul>
					</div>
				</div>

				<div class="col-lg-7">
					<div class="tab-content">
						<div class="tab-pane active" id="tab1">
							<div class="tab-mod">
								<img class="img-responsive" src="static/img/browser-01.png" alt="">
							</div>
						</div>

						<div class="tab-pane" id="tab2">
							<div class="tab-mod">
								<img class="img-responsive" src="static/img/browser-02.png" alt="">
							</div>
						</div>

						<div class="tab-pane" id="tab3">
							<div class="tab-mod">
								<img class="img-responsive" src="static/img/browser-03.png" alt="">
							</div>
						</div>
					</div><! --/Tab-content
				</div>

			</div>
		</div>
	</div>

    <div id="cta02">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-8 col-lg-offset-2">
    				<h2>The probability of success is difficult to estimate;<br/>but if we never search, the chance of success is zero.</h2>
    				<button type="button" class="btn btn-cta btn-lg">ABOUT US</button>
    			</div>
    		</div>
    	</div>
    </div>


	<div id="grey">
		<div class="container">
			<div class="row mt centered ">
				<div class="col-lg-4 col-lg-offset-4">
					<h3>Brands & Clients</h3>
					<hr>
				</div>
			</div>

			<div class="row centered">
				<div class="col-lg-3 pt">
					<img class="img-responsive" src="static/img/clients/client01.png" alt="">
				</div>
				<div class="col-lg-3 pt">
					<img class="img-responsive" src="static/img/clients/client02.png" alt="">
				</div>
				<div class="col-lg-3 pt">
					<img class="img-responsive" src="static/img/clients/client03.png" alt="">
				</div>
				<div class="col-lg-3 pt">
					<img class="img-responsive" src="static/img/clients/client04.png" alt="">
				</div>

			</div>
		</div>
	</div>

	<div id="cta-bar">
		<div class="container">
			<div class="row centered">
				<a href="#"><h4>Are You Ready For The Next Step?</h4></a><br/>
				<a href="contact" class="btn btn-info">Contact US</a>
			</div>
		</div>
	</div>
{% include 'footer.html' %}
