
{% include 'header.html' %}

    <div id="servicewrap" style="min-height:300px">
    	<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<h1 class="slideUp">Sql Services.</h1>
				</div>
			</div><!-- /row -->
    	</div><!-- /container -->
    </div> <!-- /servicewrap -->

    <div class="container">
    <h3>&nbsp;We provided RDBMS database consulting to <a href="clients">many companies</a>
    and have deep expertise in working with multi terbytes of data with millions of users.</h3>
    	<div class="row mt" id="row-services">

    				<div class="col-lg-4">
                        <div class="service-main aligncenter icon">
                          <h3><i class="fa fa-gear"></i> SQL Database Services</h3>
                        </div>
                        <ul class="service-list">
                          <li><i class="fa fa-check"></i>  Backups, Disaster Recovery</li>
                          <li><i class="fa fa-check"></i>  Support, 24X7</li>
                          <li><i class="fa fa-check"></i>  Capacity Planning</li>
                          <li><i class="fa fa-check"></i>  Performance</li>
                          <li><i class="fa fa-check"></i>  Scalability</li>
                          <li><i class="fa fa-check"></i>  High Availability</li>
                          <li><i class="fa fa-check"></i>  Replication</li>
                          <li><i class="fa fa-check"></i>  Onsite, Remote DBA</li>
                          <li><i class="fa fa-check"></i>  Administration</li>
                          <li><i class="fa fa-check"></i>  Database Architecture</li>
                          <li><i class="fa fa-check"></i>  Performance Audit</li>
                          <li><i class="fa fa-check"></i>  Installation, Upgrades</li>
                          <li><i class="fa fa-check"></i>  Schema Review</li>
                          <li><i class="fa fa-check"></i>  Monitoring</li>
                          <li><i class="fa fa-check"></i>  Emergency 24X7</li>
                          <li><i class="fa fa-check"></i>  Onsite Training</li>
                        </ul>
    				</div>

					<div class="col-lg-4" >
						<div class="service-main aligncenter icon">
                          <h3><i class="fa fa-wrench"></i> Database Consulting</h3>
                        </div>
                       <ul class="service-list" style="padding-top: 26px;">
                          <li><a class="btn btn-large btn-theme" href="">MySQL Consulting</a></li>
                          <li><a class="btn btn-large btn-theme" href="">PostgreSQL Consulting</a></li>
                          <li><a class="btn btn-large btn-theme" href="">Greenplum Consulting</a></li>
                          <li><a class="btn btn-large btn-theme " href=""><i class="icon-leaf"></i>NoSQL Consulting</a></li>
                          <li><a class="btn btn-large btn-theme" href=""><i class="icon-cloud"></i>Big Data Support</a></li>
                          <li><a class="btn btn-large btn-theme" href=""><i class="icon-bar-chart"></i>Data Analytics</a></li>
                          <li><a class="btn btn-large btn-theme" href=""><i class="icon-tasks"></i>Data Architecture</a></li>
                        </ul>
					</div>

					<div class="col-lg-4">
						<div class="service-main aligncenter icon">
                          <h3><i class="fa fa-check-circle"></i> SQL Database Supported</h3>
                        </div>
                       <ul class="service-list" style="padding-top: 26px;">
                          <li><a class="btn btn-large btn-success" href="">MySQL</a></li>
                          <li><a class="btn btn-large btn-success" href="">PostgreSQL</a></li>
                          <li><a class="btn btn-large btn-success" href="">Greenplum</a></li>
                          <li><a class="btn btn-large btn-success" href=""><i class="icon-leaf"></i>Oracle</a></li>
                        </ul>


					</div>


    	</div><!-- /row -->
    </div><!-- /container -->


	<div id="cta-bar">
		<div class="container">
			<div class="row centered">
				<a href="contact"><h4>To learn more about our SQL services, send us a message.</h4></a>
				<a href="contact" class="btn btn-large btn-info">Contact US</a>

			</div>
		</div><!-- /container -->
	</div><!-- /cta-bar -->

	{% include 'footer.html' %}