
{% include 'header.html' %}

    	<div class="row mt" style="margin-top:0px;">
    		<div class="col-lg-4 col-lg-offset-4 centered">
    			<h2>Why Gajadata</h2>
    			<hr>
    		</div>
    	</div><!-- --/row ---->


    <div class="container" id="data-architecture">
    	<div class="row mt">

			<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <i class="fa fa-plus"></i> Expertise
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        We are a dedicated team of data experts with tremendous knowledge-base in design and implementation of high performance scalable systems. Our engineering expertise spans all the technologies and tools needed for scalable services on massively large-scale distributed systems. Please check <a href="index">about gajadata team and areas of expertise.</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <i class="fa fa-plus"></i> We save your time, resources and money
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
       In today's online world; data drives revenue. Companies spend their valuable time, resources and money in dealing with data and performance/maintenance/stability of distributed databases on daily basis. gajadata can take that pain from individual companies, so that the companies can focus on real business and spend their engineering resources and time in building actual features that can drive the revenue and user base.

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
         <i class="fa fa-plus"></i> We cover whole data architecture
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        We offer services that span the complete spectrum of architecting enterprise data systems. We support from design, implementation to administration and supporting of all database systems.

For more information, check our services.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
         <i class="fa fa-plus"></i>  We offer inexpensive service
        </a>
      </h4>
    </div>
    <div id="collapsefour" class="panel-collapse collapse">
      <div class="panel-body">
        For a detailed pricing scheme, please <a href="contact">contact gajadata</a>. Our services and pricing are subject to a detailed analysis of the task and the deliverable put forth.
      </div>
    </div>
  </div>

   <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
         <i class="fa fa-plus"></i>  We are part of your team
        </a>
      </h4>
    </div>
    <div id="collapsefive" class="panel-collapse collapse">
      <div class="panel-body">
        We are committed to success with a focus on delivering, easy to work with, dependable, forward thinking and will integrate well with your team. In most cases, we will be visiting your team on a daily basis until we solve the initial problems. We are looking forward to being a part of your development effort.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapsesix">
         <i class="fa fa-plus"></i>  We can help to build your team
        </a>
      </h4>
    </div>
    <div id="collapsesix" class="panel-collapse collapse">
      <div class="panel-body">
        We possess an impressive track record of success and a practical approach to solving your most difficult and pressing technology needs. We can hit the ground running and help grow the team using our right contacts.
      </div>
    </div>
  </div>

<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseseven">
         <i class="fa fa-plus"></i>  We are proven and widely used
        </a>
      </h4>
    </div>
    <div id="collapseseven" class="panel-collapse collapse">
      <div class="panel-body">
        Our services have been used successfully by <a href="clients">several notable companies</a>. We continue to provide our services to them and are expanding.      </div>
    </div>
  </div>



</div>


    	</div><!-- /row -->
    </div><!-- /container -->

	<div id="cta-bar">
		<div class="container">
			<div class="row centered">
				<a href="contact"><h4>To learn more, send us a message.</h4></a>
				<a href="contact" class="btn btn-large btn-info">Contact US</a>

			</div>
		</div><!-- /container -->
	</div><!-- /cta-bar -->

	{% include 'footer.html' %}